h1 {
    color: white;

}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    zoom: 1.45;
}

button {
    color: white;
    background-color: rgb(72, 102, 39);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: 5px solid darkgreen;
}

h1 {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

body {
    background-image: url('9999520.jpg');
}

