h1 {
    color: white;

}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    zoom: 1.15;
}

button {
    color: white;
    background-color: rgb(1, 7, 61);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: 5px solid darkblue;
}


button:hover {
    background-color: darkblue;
    border: 5px solid darkblue;
}

#bet100, #bet250, #bet500, #bet1000 {
    background-color: rgb(1, 7, 61);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 100px;
    border: 5px solid darkblue;
    
}

#bet100:hover, #bet250:hover, #bet500:hover, #bet1000:hover {
    background-color: darkblue;
    border: 5px solid darkblue  ;
}


h1 {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

body {
    background-image: url('10081449.jpg');
}

